#loginButton {
-fx-background-color: "skyblue";
}

#forgetPasswordButton {
-fx-background-color: "gray";
}

#newAccountButton {
-fx-background-color: "orange";
}

#welcomeLabel {
-fx-border-style: solid;
-fx-border-width: 3;
-fx-border-color: skyblue;
-fx-border-radius: 25px;
-fx-font-size: 20;
}